@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutSignedOut.cshtml";
}

<div class="content">
    <table id="content" class="content">
        <tr>
            <td colspan="2" class="logo"><img src="~/Content/Logo.gif" width="206" height="58" /></td>
        </tr>
        <tr>
            <td class="pagetitle">Error</td>
        </tr>
        <tr>
            <td class="subtitle">
                <p class="center">
                    An error occurred.  Please try again.
                </p>
                <p class="center">@Html.ActionLink("Home", "Index", "Home")</p>
            </td>
        </tr>
    </table>
</div>