@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <table id="content" class="content">
        <tr>
            <td><span class=logo><img src="~/Content/Logo.gif" width="206" height="58"/></span></td>
        </tr>
        <tr>
            <td>@PageData["Tagline"]</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="pagetitle">Account</td>
        </tr>
        <tr>
            <td class="text">Never fear - popping bubbles will always be free!  For now, you can get an unlimited number of your bubbles popped for free, as well.</td>
        </tr>
    </table>
</div>