@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <table id="content" class="content">
        <tr>
            <td><span class=logo>@PageData["SiteName"]</span></td>
        </tr>
        <tr>
            <td>@PageData["Tagline"]</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="pagetitle">Contact</td>
        </tr>
        <tr>
            <td>Lorem ipsum</td>
        </tr>
    </table>
</div>