@{ ViewBag.Title = "Developers"; }

<div class="content">
    <table id="content" class="content">
        <tr>
            <td colspan="2" class="logo"><img src="~/Content/Logo.gif" width="206" height="58" /></td>
        </tr>
        <tr>
            <td class="pagetitle">Developers</td>
        </tr>
        <tr>
            <td><p>Coming soon</p></td>
        </tr>
    </table>
</div>