@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <table id="content" class="content">
        <tr>
            <td><span class=logo><img src="~/Content/Logo.gif" width="206" height="58"/></span></td>
        </tr>
        <tr>
            <td>@PageData["Tagline"]</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="pagetitle">Metrics</td>
        </tr>
        <tr>
            <td>Lorem ipsum</td>
        </tr>
    </table>
</div>