@{ ViewBag.Title = "Terms"; }

<div class="content">
    <table id="content" class="content">
        <tr>
            <td class="logo"><img src="~/Content/Logo.gif" width="206" height="58" /></td>
        </tr>
        <tr>
            <td class="pagetitle">Terms</td>
        </tr>
        <tr>
            <td>
                <p><strong>Terms of Service</strong></p>
                <p>Popdit LLC (hereinafter "Popdit") provides the Popdit service (hereinafter "the service"), comprising services and software.  
                Users of the service (hereinafter "users") agree that the use of the service constitutes acceptance of these terms of service, 
                which include the attached privacy notice.  Users agree to remain bound by these terms, even though they may change form time 
                to time without notice.</p>
                <p>Popdit provides the service for entertainment purposes only.  It is not intended for any other use, including safety or 
                navigation.  The service includes links to other web sites and content provides, for which Popdit assumes no responsibility.  
                The service includes content from private individuals, for which Popdit assumes no responsibility.  Users understand that the 
                reliability of information, including, but not limited to, location, directions, and descriptions found on Popdit, may vary in 
                reliability and that Popdit assumes no responsiblity for the reliability of said information or for the reliability of the service 
                itself.</p>
                <p>Users agree to hold Popdit harmless for any liability arising from the use of the service, from the information provided by 
                the service, from the unavailability of the service, or for any other reason, without limitation, arising from the service.  Users
                agree to assume all risk associated with the use of the service and the information provided by the service.</p>
                <p><strong>Privacy notice</strong></p>
                <p>Popdit LLC respects users' privacy and undertakes best efforts to protect the same.  Popdit does not sell, trade, or otherwise 
                identifiable user information to third parties without users' permission.  Specifically, the service is designed to protect 
                information about a user's identity, nickname, and exact location by default.  A user may choose to reveal his or her general 
                location, nickname, and identity to select parties.  A user may choose to stop revealing this information to such parties at any
                time.</p>
            </td>
        </tr>
    </table>
</div>