@{ ViewBag.Title = "What is Popdit?"; }

<div class="content">
    <table id="content" class="content">
        <tr>
            <td><span class=logo><img src="~/Content/Logo.gif" width="206" height="58"/></span></td>
        </tr>
        <tr>
            <td>@PageData["Tagline"]</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="pagetitle">What is Popdit?</td>
        </tr>
        <tr>
            <td>
                <p>Popdit is an app that helps you discover interesting places.  You decide what's interesting.  A great restaurant?  A historic landmark?  It's up to you.</p>
                <p>You can also share your favorite places so your friends can discover them.  The best ice cream shop in town?  A romantic spot that you visited on vacation?  You decide.</p>
                <p>Download the app and create an account.  You can manage your account from your smartphone or from any browser.</p>
            </td>
        </tr>
    </table>
</div>