<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Stage</LastUsedBuildConfiguration>
    <LastUsedPlatform>x86</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pop-stage.popdit.com:80/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://pop-stage.popdit.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>pop-stage</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>webdeploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PopditDBEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=popdit.ca5ouyz9n4wm.us-east-2.rds.amazonaws.com;user id=popdit;password=KvZv4cGQcTa78YH2;persistsecurityinfo=True;database=PopditDB" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PopditDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.PopditDB.csdl|res://*/Models.PopditDB.ssdl|res://*/Models.PopditDB.msl;provider=MySql.Data.MySqlClient;  provider connection string=&quot;server=popdit.ca5ouyz9n4wm.us-east-2.rds.amazonaws.com;  user id=popdit;password=KvZv4cGQcTa78YH2;  persistsecurityinfo=True;database=PopditDB&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PopditDBEntities-Web.config Connection String" />
  </ItemGroup>
</Project>