/* GENERAL */
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ffffff;
    color: #000000;
    font-family: Verdana, sans-serif; 
    letter-spacing: 2px;
    margin: 0px;
}
/* DIV */
div {
    box-sizing: border-box;
}

div.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.menubar {
    height: 50px;
    padding-top: 10px;
    width: 100%;
    display: table;
}

div.menuitem {
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

div.content {
    flex: 1 1 auto;
    display: flex;
    vertical-align: middle;
    padding: 0px 0px 50px 0px;
    margin: auto;
}

div.select {
    background-color: #FFFFFF;
    height: 24px;
    width: 100%;
    padding-top: 2px;
}
/* TEXT */
p {
    width: 100%;
    text-align: justify;
    letter-spacing: normal;
}

p.center {
    text-align: center;
}

p.help {
    font-size: 0.8em;
    text-align: center;
}

p.nodisplay {
    display:none;
}

li {
    text-align: left;
    text-align: justify;
    letter-spacing: normal;
    list-style: square;
    margin-left: -22px;
}

/* TABLE */
table {
    border-collapse: collapse;
}

table.content {
    margin: auto;
    width: 350px;
    text-align: center;
}

table.content td {
    padding: 2px;
}

tr.form td {
    letter-spacing: normal;
}

tr.form td:first-child {
    text-align: right;
}

tr.header td {
    padding: 4px;
}

tr.detail {
    display: none;
}

tr.delete {
    display: none;
}

td.hist {
    text-align: left;
    vertical-align: top;
    letter-spacing: normal;
}

td.hTime {
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    letter-spacing: normal;
}

td.underline {
    text-align: left;
    vertical-align: top;
    letter-spacing: normal;
    border-bottom: solid thin #AAAAAA;
}

td {
    padding: 0px;
}

td.item {
    border: solid thin #AAAAAA;
}

td.left {
    text-align: left;
}

td.pagetitle {
    font-size: 1.2em;
    border-bottom: solid #AAAAAA thin;
}

td.text {
    text-align: justify;
}

td.latlong input:first-child {
    text-align: right;
}
/* FORM */
form.content {
    margin: auto;
    width: 350px;
    text-align: center;
}
/* CONTROLS */
select {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
    height: 25px;
    width: 100%;
}

input {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
    margin: 0px;
    padding-left: 2px;
}

button {
    width: 100%;
    height: 25px;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
    margin: 0px;
    padding-left: 2px;
}

input.confirm {
    color: #DD0000;
}

input[type=checkbox] {
    width: 13px;
}

textarea {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
    margin: 0px;
    padding-left: 2px;
}
/* LINKS */
a {
    text-decoration: none;
    color: mediumseagreen;
}
